services:
  - type: web
    name: prajwalan-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: ADMIN_EMAIL
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: PORT
        value: 5001
      - key: FRONTEND_URL
        value: https://prajwalan2k26-ui.vercel.app
      - key: TIMER_URL
        value: https://timer-pi-three.vercel.app
